{
  "extends": ["eslint:recommended", "plugin:react/recommended", "prettier"],
  "rules": {
    // @TODO.
  },
  "parserOptions": {
    "ecmaVersion": 9,
    "sourceType": "module"
  },
  "env": {
    "browser": true,
    "node": true
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  }
}
